<ion-header>
  <ion-navbar color="primary">
    <ion-title class="title">Llamada 360</ion-title>
    <button clear ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content class="no-scroll bg-1">
  <ion-list class="scroll-content">
    <ion-item no-padding *ngFor="let item of list" (click)="goToDetalle(item)">
      <ion-row>
		<div *ngIf="questiontwo==false">
			<ion-col class="barrita iconamar" *ngIf="!item.visit_id"> </ion-col>
			<ion-col class="barrita iconverde" *ngIf="item.visit_status == '1' "></ion-col>
			<ion-col class="barrita iconrojo" *ngIf="item.visit_status == '2' "></ion-col>
		</div>
		<div *ngIf="questiontwo==true">
			<ion-col class="barrita iconamar" *ngIf="!item.visit_id && !item.visit_id_two"> </ion-col>
			<ion-col class="barrita iconazul" *ngIf="item.visit_id && !item.visit_id_two"></ion-col>
			<ion-col class="barrita iconverde" *ngIf="item.visit_status_two == '1'"></ion-col>
			<ion-col class="barrita iconrojo" *ngIf="item.visit_status_two == '2' "></ion-col>
		</div>
        <ion-col
          col-4
          style="border-right: 1px solid darkgrey; text-align: center;"
        >
          <ion-icon name="calendar" style="color: #757575; 
          font-size: 30px;
          margin-bottom: 5px;"></ion-icon>
		  
		  
		<div *ngIf="questiontwo==false">
          <p class="letrica2" *ngIf="item.visit_id" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
            {{ item.visit.modified }}
          </p>
          <p class="letrica2" *ngIf="!item.visit_id">PENDIENTE</p>
		</div>
		<div *ngIf="questiontwo==true">
          <p class="letrica2" *ngIf="!item.visit_id && !item.visit_id_two">Pendiente</p>
          <p class="letrica2" *ngIf="item.visit_id && !item.visit_id_two">Proxima Encuesta</p>
		  <p class="letrica2" *ngIf="item.visit_status_two" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
            {{ item.visit.modified }}
          </p>
		</div>
        </ion-col>
        <ion-col col-7>
          <div class="spacer" style="width: 100%; height: 5%;"></div>

          <h2 class="subtitle" style="  margin-left: 5px;">{{ item.name }}</h2>
          <p style="margin-left: 5px; display: inline-block;" class="description">
            {{ item.direction }}
          </p>
          <p style="margin-left: 5px;"  class="description">
            {{ item.district }} {{ item.department }}
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <div style="width:100%; height: 20%" class="spacer"></div>

  </ion-list>
  <ion-row class="barrainferior ">
    <ion-col no-padding class="a" (click)="filterStatus(null)">
      <h2 style="text-align:center" class="subtitle">{{ pending }}</h2>
      <p class="letrica2">Pendientes</p>
      <ion-row no-padding class="iconamar rayita"></ion-row>
    </ion-col>

    <ion-col no-padding class="a" (click)="filterStatus('1')">
      <h2 style="text-align:center" class="subtitle">{{ successful }}</h2>
      <p class="letrica2">Exitosos</p>
      <ion-row no-padding class="iconverde rayita"></ion-row>
    </ion-col>

    <ion-col no-padding class="a" (click)="filterStatus('2')">
      <h2 style="text-align:center" class="subtitle">{{ notsuccessful }}</h2>
      <p class="letrica2">No exitosos</p>
      <ion-row no-padding class="iconrojo rayita"></ion-row>
    </ion-col>
  </ion-row>
</ion-content>
<ion-fab bottom right edge style="bottom: 125px;">
  <button ion-fab (click)="hideOverlay()">
    <ion-icon name="search"></ion-icon>
  </button>
  <ion-fab-list side="top">
    <button ion-fab color="primary" (click)="filterWrite()">
      <ion-icon name="search"></ion-icon>
    </button>
    <p class="fabText" style="top:6px">Buscar</p>
  </ion-fab-list>
</ion-fab>
<div class="my-overlay" padding [hidden]="overlayHidden"></div>
